extends header 
block content
  head
  div.content
    div.left
      div.post
        div(id="book").book
        h3 Reviews:
        div(id="reviews")
  script.
      function addUrl(username){
        var t = document.getElementById("userTag");
        window.location.href = "/user/" + username;
      }
      function createPage(){
        let theBook = !{JSON.stringify(theBook)};
        let theReviews = !{JSON.stringify(theReviews)};
        let divReviews = document.getElementById("reviews");

        let divBook = document.getElementById("book");
        const bookTitle = document.createElement("h4");
        bookTitle.innerHTML = theBook.bookName;

        const bookScore = document.createElement("p");
        bookScore.innerHTML = theBook.averageReviewScore + " / 5";

        const bookWriter = document.createElement("p");
        bookWriter.innerHTML = "Escritor: " + theBook.author[0].completeName;

        const bookGenre = document.createElement("p");
        bookGenre.innerHTML = "Genero: " + theBook.genre[0].name;

        divBook.appendChild(bookTitle);
        divBook.appendChild(bookWriter);
        divBook.appendChild(bookGenre);
        divBook.appendChild(bookScore);

        theReviews.forEach(element => {
          const divForAReview = document.createElement("div");
          const reviewTitle = document.createElement("h4");
          reviewTitle.innerHTML = element.reviewTitle;
          reviewTitle.value = element._id;
          reviewTitle.id = "reviewTag";
          reviewTitle.addEventListener("click", (event, id = element._id) => {window.location.href = "/review/" + id}); 

          const user = document.createElement("h3");
          user.id = "userTag"
          user.innerHTML = element.username;
          user.value = element.username;
          user.addEventListener("click", (event, name = element.username) => {window.location.href = "/user/" + name});

          divForAReview.appendChild(reviewTitle);
          divForAReview.appendChild(user);
          divReviews.appendChild(divForAReview);
        });
      }
      createPage();