html
  head
    title= "book form"
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    //jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    //JS & CSS library of MultiSelect plugin
    script(src="https://phpcoder.tech/multiselect/js/jquery.multiselect.js")
    link(rel="stylesheet" href="https://phpcoder.tech/multiselect/css/jquery.multiselect.css")

  body()
    form(action="/book/add/save", method="post")
      label(for="bookName") Name:
      input(type="text", name="bookName")
      br
      br
      label(for="bookName") AuthorName:
      select(name="authors[]" multiple id="languageSelect")
      br
      br
      label(for="genreName") Genre:
      select(name="genres[]" multiple id="genreSelect")
      br
      br
      button(type="submit") Enviar

script.

  function searchGenres() {
    let datalist = document.getElementById("genreSelect");
    var listOfGenresStr = `#{genreList}`;
    let listOfGenres = listOfGenresStr.replaceAll("&quot;","\"");
    let list = JSON.parse(listOfGenres);
    list.forEach(function(entry) {
      let opt = document.createElement("option");
      opt.value = entry.name;
      opt.innerHTML = entry.name;
      datalist.appendChild(opt);
    });
    jQuery('#genreSelect').multiselect({
      columns: 1,
      placeholder: 'Select Genre',
      search: true
    });
  }
  
  document.addEventListener("DOMContentLoaded", function(event) { 
    let datalist = document.getElementById("languageSelect");
    var listOfAuthorsStr = `#{authorList}`;
    let listOfAuthors = listOfAuthorsStr.replaceAll("&quot;","\"");
    let list = JSON.parse(listOfAuthors);
    list.forEach(function(entry) {
      let opt = document.createElement("option");
      opt.value = entry.completename;
      opt.innerHTML = entry.completename;
      datalist.appendChild(opt);
    });
    jQuery('#languageSelect').multiselect({
      columns: 1,
      placeholder: 'Select Author',
      search: true
    });
    searchGenres();
  });


