extends header 
block content
  div.content
    div.reviewBlock
      form(action="/genre/add/save", method="post")
        div.new__book
          div.nameBook
            label(for="authorName") Nombre del genero:
            br
            input(type="text", name="genreName" required).inputReview
          div.review__review
            label(for="wikipedialink") Description:
            br
            textarea(name="description", rows="4", cols="50" required).inputReview__textarea
          div.cta__sendGenre
            input(type="submit", value="Enviar").inputBook__new
    div.right
      div.genere
        form(action="/filter/byGenres" method="POST") 
          - for (n = 0; n < listOfGenres.length; n++) {
            label.checklist
              input(type="checkbox" name="genre" id=listOfGenres[n].name value=listOfGenres[n].name) 
              span.checkbox__text #{listOfGenres[n].name}
          - }
          input(type="submit" value="Buscar").inputReview__new2
      form(method="get" action="/review/add")
        button(type="submit").newReview Crea tu reseña