html
  head
    title= "author form"
  body
    form(action="/author/add/save", method="post")
        label(for="authorName") Nombre Completo:
        input(type="text", name="authorName")
        br
        br
        label(for="wikipedialink") WikipediaLink:
        input(type="text", name="wikipedialink")
        br
        input(type="submit", value="Enviar")