html
  head
    title= "review form"
  body
    form(action="/review/add/save", method="post")
        label(for="authorName") Titulo del libro:
        input(type="text", name="booktitle", id="booktitle")
        datalist(id="bookSearch")
        br
        br
        p Aqui detalls del llibre
        div(id="bookInfo")
        br
        br
        label(for="wikipedialink") Titulo Review:
        input(type="text", name="reviw Title")
        br
        label(for="wikipedialink") Review:
        textArea(name="review")
        br
        input(type="submit", value="Enviar")
script.
  var booktitle = document.getElementById("booktitle");
  booktitle.addEventListener('keyup', async (e) => {
    const text = e.currentTarget.value;
    if (text.length > 3){
      var formData = new FormData();
      formData.append('text', e.currentTarget.value);
      
      const response = await fetch("/book/list/query",
      {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: formData
      });
      console.log(response);
    }
  });