extends header 
block content
  head 
    - var listOfGenres = listOfGenres;
  div.content
    div.reviewBlock
      form(action="/review/add/save", method="post")
        div.review
          div.infoBook
            div.bookTitle
              label(for="authorName") Titulo del libro:
              input(type="text" id="booktitle" name="booktitle" list="bookSearch" required).inputReview
            div(id="createBook" hidden).createBook 
              a(href="/book/add")
                input(type="button" value="Crear Libro").newBook
            div.info__book
              datalist(id="bookSearch")
                option(value="")
              div(id="bookInfo")
          div.infoReview
            div.title__review
              label(for="wikipedialink") Titulo Review:
              input(type="text" name="reviewTitle" required).inputReview
            div.score__review
              label(for="wikipedialink") Score (1-5):
              input(type="number" name="score" min=0 max=5 required).inputReview
            div.review__review
              label(for="wikipedialink") Review:
              textArea(name="review" required).inputReview__textarea
            div.review__button
              input(type="submit", value="Enviar").inputReview__new
    div.right
      div.genere
        form(action="/filter/byGenres" method="POST") 
          - for (n = 0; n < listOfGenres.length; n++) {
            label.checklist
              input(type="checkbox" name="genre" id=listOfGenres[n].name value=listOfGenres[n].name) 
              span.checkbox__text #{listOfGenres[n].name}
          - }
          input(type="submit" value="Buscar").inputReview__new2



  script.
    bookSelected = "";
    visibleBook = false;
    var booktitle = document.getElementById("booktitle");
    var datalist = document.getElementById("bookSearch");

    booktitle.addEventListener('keyup', async (e) => {
      datalist.innerHTML = "";
      bookSelected = "";
      const text = e.currentTarget.value;
      
      if (text.length >= 3){
        var formData = new FormData();
        formData.append('text', e.currentTarget.value);
        
        const response = await fetch("/book/list/query",
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({text})});
        const data = await response.json();
        
        if (data.length == 0) {
          document.getElementById("bookInfo").innerHTML = "";
          document.getElementById("createBook").hidden = false;
        } else {
          document.getElementById("createBook").hidden = true;
        }

        data.forEach(function(entry) {
          let opt = document.createElement("option");
          opt.value = entry.bookName;
          opt.innerHTML = entry.bookName;
          opt.setAttribute("onclick" ,"seeBook()");
          bookSelected = entry;
          datalist.appendChild(opt);
        });
      }
      if (text.length > 3 && bookSelected != ""){
        console.log(bookSelected);
        var divInfo = document.getElementById("bookInfo");
        document.getElementById("booktitle").value = bookSelected.bookName;
        divInfo.innerHTML = "";
        const para1 = document.createElement("p");

        let authors = "";
        bookSelected.author.forEach(function(entry) {
          authors = authors + " " + entry.completeName;
        });

        const textNode1 = document.createTextNode("Autor: " + authors);

        let genres = "";
        bookSelected.genre.forEach(function(entry) {
          genres = genres + " " + entry.name;
        });

        const para2 = document.createElement("p");
        const textNode2 = document.createTextNode("Genero: " + genres);
        const para3 = document.createElement("p");
        const textNode3 = document.createTextNode("Titulo: " + bookSelected.bookName);

        para1.appendChild(textNode1);
        para2.appendChild(textNode2);
        para3.appendChild(textNode3);

        divInfo.appendChild(para1);
        divInfo.appendChild(para2);
        divInfo.appendChild(para3);

      } else if (text.length == 0) {
        document.getElementById("createBook").hidden = true;
        document.getElementById("bookInfo").innerHTML = "";
      }
    });
