extends header 
block content
  div.content
    div.reviewBlock
      form(action="/review/add/save", method="post")
        div.review
          div.infoBook
            div.bookTitle
              label(for="authorName") Titulo del libro:
              input(type="text" id="booktitle" name="booktitle" list="bookSearch").inputReview
            div(id="createBook" hidden).createBook 
              a(href="/book/add")
                input(type="button" href="/book/add" value="Crear Libro").newBook
            div.info__book
              datalist(id="bookSearch")
                option(value="")
              div(id="bookInfo")
          div.infoReview
            div.title__review
              label(for="wikipedialink") Titulo Review:
              input(type="text", name="reviewTitle").inputReview
            div.score__review
              label(for="wikipedialink") Score:
              input(type="text", name="score").inputReview
            div.review__review
              label(for="wikipedialink") Review:
              textArea(name="review").inputReview__textarea
            div.review__button
              input(type="submit", value="Enviar").inputReview__new
    div.right
      div.genere
      //- button.newReview Crea tu reseña
  script.
    bookSelected = "";
    visibleBook = false;
    var booktitle = document.getElementById("booktitle");
    var datalist = document.getElementById("bookSearch");

    booktitle.addEventListener('keyup', async (e) => {
      datalist.innerHTML = "";
      bookSelected = "";
      const text = e.currentTarget.value;
      
      if (text.length > 3){
        var formData = new FormData();
        formData.append('text', e.currentTarget.value);
        
        const response = await fetch("/book/list/query",
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({text})});
        const data = await response.json();
        
        if (data.length == 0) {
          document.getElementById("createBook").removeAttribute("hidden");
        } else {
          document.getElementById("createBook").style.visibility = "hidden";
        }

        data.forEach(function(entry) {
          let opt = document.createElement("option");
          opt.value = entry.bookName;
          opt.innerHTML = entry.bookName;
          opt.setAttribute("onclick" ,"seeBook()");
          bookSelected = entry;
          datalist.appendChild(opt);
        });
      }
      if (text.length > 3 && bookSelected != ""){
        console.log(bookSelected);
        var divInfo = document.getElementById("bookInfo");
        divInfo.innerHTML = "";
        const para1 = document.createElement("p");
        //- const textNode = document.createTextNode(JSON.stringify(bookSelected));
        const textNode1 = document.createTextNode("Autor: " + bookSelected.author[0].completeName);
        const para2 = document.createElement("p");
        const textNode2 = document.createTextNode("Genero: " + bookSelected.genre[0].name);
        para1.appendChild(textNode1);
        para2.appendChild(textNode2);
        divInfo.appendChild(para1);
        divInfo.appendChild(para2);
      }
    });
