extends header 
block content
  div.content
    div.reviewBlock
      form(action="/author/add/save", method="post")
        div.new__author
          div.nameBook
            label(for="authorName") Nombre Completo:
            input(type="text", name="authorName" required).inputAuthor
          div.nameBook
            label(for="wikipedialink") Link a la Wikipedia:
            input(type="text", name="wikipedialink" required).inputAuthor
          div.cta__send
            input(type="submit", value="Enviar").inputAuthor__new
    div.right
      div.genere
        form(action="/filter/byGenres" method="POST") 
          - for (n = 0; n < listOfGenres.length; n++) {
            label.checklist
              input(type="checkbox" name="genre" id=listOfGenres[n].name value=listOfGenres[n].name) 
              span.checkbox__text #{listOfGenres[n].name}
          - }
          input(type="submit" value="Buscar").inputReview__new2
      form(method="get" action="/review/add")
        button(type="submit").newReview Crea tu reseña