extends header 
block content
  div.content
    div.left
      form(action="/review/add/save", method="post")
        div.user
          div.name
            label(for="authorName") Titulo del libro:
            input(type="text" id="booktitle" name="booktitle" list="bookSearch")
            datalist(id="bookSearch")
              option(value="")
            p Aqui detalls del llibre
            div(id="bookInfo")
          div.biography
            label(for="wikipedialink") Titulo Review:
            input(type="text", name="reviewTitle")
            label(for="wikipedialink") Score:
            input(type="text", name="score")
            label(for="wikipedialink") Review:
            textArea(name="review")
            input(type="submit", value="Enviar")
    div.right
      div.genere
      button.newReview Crea tu reseña
  script.
    bookSelected = "";
    var booktitle = document.getElementById("booktitle");
    var datalist = document.getElementById("bookSearch");

    booktitle.addEventListener('keyup', async (e) => {
      datalist.innerHTML = "";
      bookSelected = "";
      const text = e.currentTarget.value;
      if (text.length > 3){
        var formData = new FormData();
        formData.append('text', e.currentTarget.value);
        
        const response = await fetch("/book/list/query",
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({text})});
        const data = await response.json();
        data.forEach(function(entry) {
          let opt = document.createElement("option");
          opt.value = entry.bookName;
          opt.innerHTML = entry.bookName;
          opt.setAttribute("onclick" ,"seeBook()");
          bookSelected = entry;
          datalist.appendChild(opt);
        });
      }
      if (text.length > 3 && bookSelected != ""){
        console.log(bookSelected);
        var divInfo = document.getElementById("bookInfo");
        divInfo.innerHTML = "";
        const para = document.createElement("p");
        const textNode = document.createTextNode(JSON.stringify(bookSelected));
        para.appendChild(textNode);
        divInfo.appendChild(para);
      }
    });
