html(lang="es")
  head
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
  body
    div.header
      section.nav__container.container
        div.div
          a(href="/").nav__link BookTalk
        div.div
          input(type="text" placeholder="Buscador").nav__input
        div.div
          i.bi.bi-star-fill