extends header 
block content
    div.content
        div.left
            div.book 
            div.review
        div.right
            div.genere
            form(method="get" action="/review/add")
                button(type="submit").newReview Crea tu reseña