html
  head
    title= "list of reviews"
    - var username = username;
  body
    h1 List of Reviews
    div(id="revContainer")

script.
  let list = !{JSON.stringify(listOfReviews)};
  let divReference = document.getElementById("revContainer");
  list.forEach(async function(entry) {
    let divOneRev = document.createElement("div");
    let idOfBook = entry.bookId;
    const response = await fetch("/book/list/queryByTitle",{
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({idOfBook})});
    const data = await response.json();
    console.log(entry);
    console.log(data);

    let bookname = document.createElement("p");
    bookname.innerHTML = "Titulo: " + data.bookName;
    let reviewTitle = document.createElement("p");
    reviewTitle.innerHTML = "Titulo review: " + entry.reviewTitle;
    let commentLink = document.createElement("a");
    commentLink.href = "/review/" + entry._id;
    commentLink.innerHTML = "Link review";
    divOneRev.appendChild(bookname);
    divOneRev.appendChild(reviewTitle);
    divOneRev.appendChild(commentLink);

    divReference.appendChild(divOneRev);
  });

    