extends header 
block content
    div.block
        h1 Login 
        br
        input(type="text" placeholder="Nombre Usuario").input__login
        br
        br
        input(type="password" placeholder="Contraseña").input__login
        br
        br
        button.block__button Login