<!DOCTYPE html>
<html>
<head>
	<link href="css/multiselect.css" rel="stylesheet"/>
	<script src="multiselect.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/index.js"></script>
</head>
<body>
	<select multiple="multiple" id="myMulti">
		<option>CSS</option>
		<option>SCRIPT</option>
		<option>COM</option>
		<option>jQuery</option>
		<option>HTML5</option>
	  </select>

<script>
	var myDrop = new drop({
		selector:  '#myMulti'
	});
</script>
</body>